<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>
    <!--Browser can be CHROME or FIREFOX-->
    <add key="BROWSER" value="CHROME" />
    
    <!--Running tests REMOTE or LOCAL-->
    <add key="REMOTE" value="True"/>    
    <!--If running tests remote, specify the cloud provider settings-->
    <add key="SAUCELABS_REMOTEWEBDRIVER" value=""/>
    <add key="SAUCELABS_USERNAME" value=""/>
    <add key="SAUCELABS_PASSWORDS" value=""/> 
    <add key="MAM_URL" value ="https://playermax-sit.aristocrat.systems"/>

    <add key="Android App URL" value="https://build.phonegap.com/apps/3548965/download/android" />
    <add key="iOS App URL" value="Fill with path to .ipa file" />
   
  </appSettings>
</configuration>