<?xml version="1.0" encoding="utf-8" ?>
<configuration>


  <appSettings>
    <!--Browser can be CHROME or FIREFOX. Defaults to chrome of not set-->
    <add key="MAM_BROWSER" value="FIREFOX" />
    <!-- Set to LOCAL, SAUCELABS or PERFECTO. If set to anything other than local, Saucelabs or Perfecto settings are required. Defaults to local if not set -->
    <add key="MAM_MODE" value="LOCAL"/>

    <!--Device can be Android or IOS. Defaults to Android if not set-->
    <add key="MOBILE_DEVICE" value="ANDROID" />
    <!-- Set to LOCAL, SAUCELABS or PERFECTO. If set to anything other than local, Saucelabs or Perfecto settings are required. Defaults to local if not set -->
    <add key="MOBILE_MODE" value="LOCAL"/>     
        
    <!--If running MAM or Mobile tests remotely on Saucelabs, specify Saucelabs settings-->
    <add key="SAUCELABS_REMOTESERVER" value=""/>
    <add key="SAUCELABS_USERNAME" value=""/>
    <add key="SAUCELABS_PASSWORDS" value=""/>

    <!--TODO Perfecto settings-->
    <add key="SAUCELABS_REMOTEWEBDRIVER" value=""/>
    <add key="SAUCELABS_USERNAME" value=""/>
    <add key="SAUCELABS_PASSWORDS" value=""/>

    <!--Other configurations-->
    <add key="MAM_URL" value ="https://playermax-sit.aristocrat.systems"/>
    <add key="ANDROID_APK" value="https://build.phonegap.com/apps/3548965/download/android" />
    <add key="IOS_IPA" value="Fill with url/path to .ipa file" />
   
  </appSettings>
</configuration>